* {
	border: 1px solid black;
	box-sizing: border-box;
	margin:0px;
	padding: 0px;
}

.content-container {
}

.side-bar {
	display: inline-block;
	width: 185px;
}

.content {
	display: inline-block;
	width: 875px;
}